## Import useful function from packages

## Matrix, parallel, methods, rootSolve
import(methods, Matrix, parallel, rootSolve)

## Import R.utils
importFrom("R.utils", "doCall")

## Import function from stats package
importFrom("stats", "cor", "integrate", "uniroot", "var")

## WGCNA: bicor, TOM, WGCNA
importFrom("WGCNA",unsignedAdjacency,bicor,TOMsimilarityFromExpr)

## Minet:minet
importFrom("minet",minet)

## DTW
importFrom("dtw",dtw)

## minerva
importFrom("minerva",mine)

## combinatorics utilities for stability indicators computation
importFrom("combinat",combn)

## igraph
importFrom("igraph", get.adjacency, get.edge.attribute)

## c3net
importFrom("c3net", c3net)

## bc3net
importFrom("bc3net", bc3net)

## Compile Rcpp functions
useDynLib(nettools)
importFrom(Rcpp, evalCpp)

## Exporting all generic methods for Adjacency
## exportPattern("mat2adj")
exportMethods(mat2adj)
## S3method(mat2adj,default)
## S3method(mat2adj,data.frame)
## S3method(mat2adj,matrix)

## Export methods for distances
export(netdist)

## Export methods for multilayer network distance
export(mpnetdist)

## Export methods for network stability
export(netSI)


