## Import useful function from packages
## WGCNA: bicor, TOM, WGCNA
importFrom("WGCNA",unsignedAdjacency,bicor,TOMsimilarityFromExpr)

## Minet:minet
importFrom("minet",minet)

## Rootsolve
import(rootSolve)

## DTW
importFrom("dtw",dtw)

## minerva
importFrom("minerva",mine)

## Matrix
import(Matrix)

## parallel
import(parallel)

##for stability
import(combinat)


## Exporting all generic methods for Adjacency
## exportPattern("mat2adj")
exportMethods(mat2adj)
S3method(mat2adj,default)
S3method(mat2adj,data.frame)

## Export methods for distances
export(netdist)

export(netSI)
